@page "{id:int}"
@model Lesson_1.Pages.Lesson2.Task4Model
@{
	ViewData["Title"] = "Product";
}

<h2>Інформація про продукт</h2>

<p><strong>ID продукту:</strong> @Model.Id</p>
<p><strong>Колір:</strong> @Model.Color</p>
<p><strong>Сторінка:</strong> @Model.Page</p>