@page
@model Lesson_1.Pages.Admin.DashboardModel
@{
}

@section Styles {
    <style>
        .stats { color: darkblue; }
    </style>
}

<h2>Адмінська панель</h2>
<p class="stats">Тут можна керувати сайтом.</p>